.navbar-brand {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
}

.brand-name {
    color: rgb(102, 178, 255) !important;
    font-weight: bolder;
}

.navbar {
    background-color: #fff;
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
}

.navbar-nav {
    margin-right: 0 !important;
}

.login-signup {
    display: flex;
    gap: 20px;
}

.btn {
    border-radius: 20px !important;
    border-color: rgb(102, 178, 255) !important;
    color: rgb(102, 178, 255) !important;
}

.btn:hover {
    background-color: rgb(102, 178, 255) !important;
    border-color: #fff !important;
    color: #fff !important;
}
.name-container {
    display: flex;
    gap: 15px;
    /* border: 1px solid gray;
    border-radius: 20px; */
    padding: 2px 4px 2px 4px !important;
    font-size: 1.2em;
    background-color: #ffffff !important;
    box-shadow: inset;
}

.name-content {
    display: flex;
    gap: 4px;
}
.username{
    margin-top: 2px;
}
.dropdown-toggle {
    color: black;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-item {
    text-transform: none !important;
    color: #000000 !important;
}