.login-btn{
    border-radius: 20px !important;
    border-color:rgb(102, 178, 255) !important;
    color: rgb(102, 178, 255) !important;
}
.login-btn:hover{
    background-color: rgb(102, 178, 255) !important;
    border-color: #fff !important;
    color: #fff !important;
}
.errorMessage{
    font-size: small !important;
    color: #ff0000;
    padding-left: 10px;
}
.invalid {
    border: 1px solid #ff0000 !important;
}